body {
	font-family: "Lato", sans-serif;
	color: #676858;
	font-weight: 300;
	margin: auto auto auto auto;
	padding:10px;
}

.text-muted {
	color: #bc8888;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}

.clickable:hover {
	cursor: pointer;
	opacity: 0.4;

}



.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0 60px 0;
	position: relative;
}

.header-container .nav span{
	padding-left:20px;
	text-transform: uppercase;
}


.footer{
	margin: 30px;
}

.thumbnail-container{
	display: flex;
	flex-wrap: wrap;
}

.thumbnail-container div{
	padding: 5px;
	width: 33.33%;
}

.thumbnail-container div img{
	width: 100%;
}



.project-container {
	padding: 5px;
	padding-bottom: 20px
}
.project-container img{
	width: 100%;
	padding: 15px 0px;
}

hr{
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0;
	border-top: 5px solid #eee;
}


.prev-next{
	align-self: flex-end;
}

.prev-next span:first-child,
.prev-next span:last-child{
	padding: 20px 10px;
}
.title-nav hr{
	margin: 40px -20px;
}

.title-nav h2{
	text-transform: uppercase;
	font-size: xx-large;
	align-self: center;
}

.title-nav{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
}

.main-hr{
	margin: 50px;
}

.project-container .footer{
	display: flex;
	flex-direction: column;
}

.project-container .footer .description,
.project-container .footer .task{
	align-self: center;
}

.project-container .footer .task {
	margin-top: 20px;

}

.project-container .footer .task span{
	margin-right: 10px;
}

.project-container .footer .task span:last-child{
	margin-right: 0px;
}


.about-container{
	align-self: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.about, .contact-container{
	align-self: center;
	max-width: 500px;
}


.about-container h2{
	text-transform: uppercase;

}

.about-container  p{
	margin: 20px 20px;
	max-width: 500px;
	text-align: left;
}

.about-container hr{
	border: 0;
	border-top: 5px solid #eee;
	margin: 50px 50px;
}

.menu-icon{
	padding: 10px;
	padding: 20px 10px 20px 20px;
	display: none;
}

.menu-dropdown{
	display: none;
	margin-top: 20px;
}
.menu-dropdown div{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.menu-dropdown span{
	text-transform: uppercase;
	padding: 10px;
}


.showMenu{
	display: block;
}

@media screen and (min-width: 992px){
	body{
		width:992px;
	}
	.menu-icon{
		display: none;
	}

	.menu-dropdown{
		display: none;
	}
}
@media screen and (min-width: 600px){
	.menu-dropdown{
		display: none;
	}
}

@media screen and (max-width: 600px){

	.thumbnail-container div{
		width: 50%;
	}

	.nav {
		display: none;
	}
	.menu-icon{
		display: block;
	}

}
